# Dependency directories
/node_modules
/dist

# TypeScript build output
/.tscache
/tsconfig.tsbuildinfo

# IDE/Editor specific files
/.vscode
/.idea
/.DS_Store

# Build artifacts
/build
/out

# Environment variables
/.env

# Logs
/logs

# Compiled JavaScript files
/src/*.js

# TypeScript declaration files
*.d.ts

# Package lock files
package-lock.json
yarn.lock

# Miscellaneous
*.log
