aside.toc-container {
	order: 2;
	z-index: 20;
	overflow-y: auto;
}

aside.toc-container.nothing {
	width: 0;
	padding: 0px !important;
}

.page_toc {
	position: fixed;
	/* margin: 10px 0; */
	border: none;
	max-width: 300px;
	overflow-y: auto;
	max-height: calc(100vh - 2rem - 2rem);
}

.page_toc p.title {
	margin: 0;
	padding-bottom: 5px;
	font-weight: 600;
	font-size: 0.75em;
}

.page_toc .anchor:hover:after {
	content: "";
}
.page_toc div[class^="lv"] a:hover span {
	color: var(--sidebar-nav-link-color--active, #42b983);
}

.page_toc div {
	border-left: 2px solid #e8e8e8;
	padding-left: 2em;
	padding: 2px 0;
	cursor: pointer;
}

.page_toc div.active {
	border-left-color: var(--sidebar-nav-link-color--active, #42b983);
	transition: border-left-color 0.23s;
}

.page_toc div.active a span {
	color: var(--sidebar-nav-link-color--active, #42b983) !important;
	transition: color 0.23s;
	font-weight: 600;
}

.page_toc div[class^="lv"] a {
	color: var(--text-color-base, black);
	text-decoration: none;
	font-weight: 300;
	line-height: 2em;
	display: block;
	font-size: 0.9em;
	display: block;
	margin-right: 1rem;
}

.page_toc div[class^="lv"] a span {
	color: var(--sidebar-nav-link-color--hover, var(--sidebar-nav-link-color));
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-word;
	white-space: initial;
}

.page_toc div.lv2 {
	padding-left: 1.5em;
}

.page_toc div.lv3 {
	padding-left: 2.5em;
}

.page_toc div.lv4 {
	padding-left: 3.5em;
}

.page_toc div.lv5 {
	padding-left: 4.5em;
}

.page_toc div.lv6 {
	padding-left: 5.5em;
}

.markdown-section,
.toc-container {
	padding: var(--docsifytabs-content-padding);
}

.markdown-section {
	margin: 0 0;
}
