aside.toc-container {
	z-index: 999999;
	overflow-y: auto;
	order: 2;
	max-height: calc(100vh - var(--ifm-navbar-height) - 2rem);
	overflow-y: auto;
	position: sticky;
	top: calc(var(--ifm-navbar-height) + 1rem);
}

aside.toc-container.nothing {
	width: 0;
}

.page_toc {
	position: relative;
	left: 0;
	margin: 10px 0;
	border: none;
	font-size: 0.75em;
}

.page_toc p.title {
	margin: 0;
	padding-bottom: 5px;
	font-weight: 600;
	font-size: 0.75em;
}

.page_toc .anchor:hover:after {
	content: "";
}
.page_toc div[class^="lv"] a:hover span {
	color: var(--sidebar-nav-link-color--active, #42b983);
}

.page_toc div {
	border-left: 2px solid #e8e8e8;
	text-indent: 2em;
	padding: 2px 0;
	cursor: pointer;
}

.page_toc div.active {
	border-left-color: var(--sidebar-nav-link-color--active, #42b983);
	transition: border-left-color 0.23s;
}

.page_toc div.active a span {
	color: var(--sidebar-nav-link-color--active, #42b983);
	transition: color 0.23s;
}

.page_toc div[class^="lv"] a {
	color: var(--text-color-base, black);
	text-decoration: none;
	font-weight: 300;
	line-height: 2em;
	display: block;
	font-size: 0.9em;
}

.page_toc div[class^="lv"] a span {
	color: var(--sidebar-nav-link-color--hover, var(--sidebar-nav-link-color));
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.page_toc div.lv2 {
	text-indent: 1em;
}

.page_toc div.lv3 {
	text-indent: 1.5em;
}

.page_toc div.lv4 {
	text-indent: 2em;
}

.page_toc div.lv5 {
	text-indent: 2.5em;
}

.page_toc div.lv6 {
	text-indent: 3em;
}

.markdown-section,
.toc-container {
	padding: var(--docsifytabs-content-padding);
}

.markdown-section {
	margin: 0 0;
}
