.nav {
  position: fixed;
  right:0;
  max-width: 50px;
  z-index: 999999;
  background-color: #fff;
  align-self: flex-start;
  flex: 0 0 auto;
  padding: 10px;
  overflow: scroll;
  height: 100%;
  opacity: 0.9;
  transition: all 0.23s;
}

.nav:hover {
  max-width: 999999px;
}

aside.nav.nothing {
  width: 0;
}

.page_toc {
  position: relative;
  left: 0;
  top: -20px;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 1.0em;
}
.page_toc p.title {
  margin: 0;
  padding-bottom: 5px;
  font-weight: 600;
  font-size: 1.2em;
}
.page_toc a:before {
  content: "- ";
}
.page_toc .anchor:hover:after {
  content: "";
}
.page_toc div[class^="lv"] a:hover span {
  color: var(--text-color-tertiary, #42b983);
}

.page_toc div {
  white-space: nowrap;
}

.page_toc div[class^="lv"] a {
  color: var(--text-color-base, black);
  text-decoration: none;
  font-weight: 300;
  line-height: 1.6em;
}
.page_toc div.lv3 {
  margin-left: 10px;
}
.page_toc div.lv4 {
  margin-left: 20px;
}
.page_toc div.lv5 {
  margin-left: 40px;
}